<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <h1></h1>

  <div class="continer">

    <table>
      <tr>
        <th>Name:</th>
        <br>
        <td>
          <%= allBudget.name %>
        </td>
        <th>Date:</th>
        <br>
        <td>
          <%= allBudget.date %>
        </td>
        <th>Amount:</th>
        <td>
          <%= allBudget.amount %>
        </td>
        <th>From:</th>
        <td>
          <%= allBudget.from %>
        </td>
        <th>Tags:</th>
        <td>
          <%= allBudget.tags %>
        </td>


      </tr>
    </table>

  </div>
  
  <button type=“button”><a href="/budgets" class="back-btn">Back</a></button>

</body>

</html>